.modal {
  position: fixed;
  top: 10%;
  left: 10%;
  width:40%;
  height: 80%;
}

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:fixed;
  height: 80%;
  min-width: 20%;
  top:50%;
  left:50%;
  background: rgb(0, 0, 0);
  transform: translate(-50%,-50%);
  padding: 1em;
  border-radius: 1em;
}

.img {
  height: 80%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}